.SearchBox{
    margin-top: 10px;
    
}

.ui.checkbox{
    transform: translateX(-70px)
}


@media only screen and (min-width: 388px){
    .SearchBox{
        margin-top: 10px;
        
    }
    .ui.checkbox{
        margin-left: 5px;
        transform: translateX(0px)
    }
}